<div class="content-wrapper">

    <app-blank pageName="Orders" [routes]="['Orders']">

        <app-section sectionTitle="List Of Orders">
            
            <div class="form-group mt-2">

                <flexi-grid 
                    [data]="data()" 
                    [showCaption]="true" 
                    [showExportExcelBtn]="true" 
                    [loading]="loading()"
                    language="en"
                    exportExcelFileName="Depots" 
                    (onrefresh)=" orders.reload()">

                    <ng-template flexiGridCaptionCommandTemplate>

                        <flexi-button 
                            btnIcon="add" 
                            btnColor="primary" 
                            title="Add Order" 
                            (click)="openAddModal()"
                            flexiTooltip />

                    </ng-template>

                    <flexi-grid-column field="orderedDate" title="Ordered Date (Day/Month/Year)" />
                    <flexi-grid-column field="orderNumber" title="Order Number" />
                    <flexi-grid-column field="customer.fullName" title="Customer Name" />
                    <flexi-grid-column field="deliveryDate" title="Delivery Date" />
                    <flexi-grid-column field="customerFullAddress" title="Customer Address" />
                    <flexi-grid-column field="statusName" title="Order Status" />

                    <ng-template flexiGridColumnCommandTemplate let-item class="text-center">

                        <flexi-button 
                            btnIcon="edit" 
                            btnColor="info" 
                            title="Edit Order Info" 
                            btnSize="small"
                            flexiTooltip />
                            <!-- (click)="openUpdateModal(item.id)"  -->

                        <flexi-button 
                            (click)="deleteOrder(item)" 
                            cancelBtnText="Cancel"
                            btnIcon="delete" 
                            btnColor="danger" 
                            title="Delete Order" 
                            btnSize="small" 
                            flexiTooltip />

                    </ng-template>

                </flexi-grid>

            </div>

            <!-- Create Modal -->
            <div #addModal class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Add Order Form</h1>
                        </div>

                        <form #form="ngForm" (ngSubmit)="saveOrder(form)" autocomplete="off">

                            <div class="modal-body">

                                 <div class="form-group">

                                    <label>Order Date:</label>
                                    <input #addFirstInput 
                                        type="date" 
                                        [(ngModel)]="newOrder().orderedDate"
                                        name="orderedDate" 
                                        class="form-control"  
                                        required>
                                </div>

                                <div class="form-group mt-2">

                                    <label>Customer:</label>
                                    <select 
                                        class="form-select" 
                                        name="customer" 
                                        [(ngModel)]="newOrder().customerId"
                                        required>

                                        @for(customer of customerData(); track customer) 
                                        {

                                            <option [value]="customer.id">{{customer.fullName}}</option>

                                        }

                                    </select>

                                </div>
                                
                                 <div class="form-group mt-2">

                                    <label>Delivery Date:</label>
                                    <input 
                                        type="date" 
                                        [(ngModel)]="newOrder().deliveryDate"
                                        name="deliveryDate" 
                                        class="form-control" 
                                        required>
                                </div>

                                <hr>
                                <div class="form-group mt-2">
                                    <div class="row">

                                        <div class="col-2">

                                            <div class="form-group">
                                                <label>Product:</label>
                                                <select 
                                                    class="form-select" 
                                                    [(ngModel)]="detail().productId"
                                                    [ngModelOptions]="{standalone: true}"
                                                    required>

                                                    @for(product of productData(); track product) 
                                                    {
                                                    
                                                        <option [value]="product.id">{{product.productName}}</option>
                                                    
                                                    }

                                                </select>
                                            </div>

                                        </div>

                                        <div class="col-2">

                                            <div class="form-group">

                                                <label>Quantity:</label>
                                                <input 
                                                    type="text" 
                                                    class="form-control"
                                                    [(ngModel)]="detail().quantity"
                                                    [ngModelOptions]="{standalone: true}">

                                            </div>

                                        </div>

                                        <div class="col-2">

                                            <div class="form-group">

                                                <label>Price:</label>
                                                <input 
                                                    type="text" 
                                                    class="form-control"
                                                    [(ngModel)]="detail().price"
                                                    [ngModelOptions]="{standalone: true}">

                                            </div>

                                        </div>

                                        <div class="col-2">

                                            <div class="form-group">

                                                <label>Total:</label>
                                                <br>
                                                <label class="alert alert-success p-2 m-0 w-full col-12" style="line-height: 1.2;">{{ detail().price * detail().quantity }}</label>

                                            </div>

                                        </div>

                                        <div class="col-4 d-flex justify-content-center align-items-center mt-3">
                                            <button type="button" (click)="addDetail()" class="btn btn-dark">
                                                Add 
                                            </button>
                                        </div>

                                    </div>

                                    <div class="mt-2">

                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Product Name</th>
                                                    <th>Quantity</th>
                                                    <th>Price</th>
                                                    <th>Total</th>
                                                    <th>Remove</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for(data of newOrder().details; track data)
                                                {
                                                <tr>
                                                    <td>{{$index + 1}}</td>
                                                    <td>{{data.product.productName}}</td>
                                                    <td>{{data.quantity}}</td>
                                                    <td>{{data.price}}</td>
                                                    <td>{{data.quantity * data.quantity}}</td>
                                                    <td>
                                                        <button type="button" (click)="removeDetail($index)"
                                                            class="btn btn-danger btn-sm">
                                                            <i class="fa-solid fa-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>

                                    </div>

                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save Order</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>



        </app-section>

    </app-blank>

</div>